#forms tbody > tr:nth-child(odd) > td {
	background-color: #323232;
}

.neos .neos-well {
	background-color: #323232;
}

h1, h2, h3 {
	color: white;
}
.neos-control-label {
	color: white;
}
.neos .neos-control-group {
	margin: 1.25em;
}

.neos-module-management-formbuilder * {
	font-family: 'Noto Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}